# Папка с результатами сборки (все скомпилированные файлы)
/target/

# Файл блокировки зависимостей — добавьте, если создаете ПРИЛОЖЕНИЕ (binary)
# Удалите эту строку, если создаете БИБЛИОТЕКУ (library) — её должны версионировать
Cargo.lock

# Резервные копии, которые создает rustfmt
**/*.rs.bk

# Отладочные символы (MSVC)
*.pdb

